body {
  font-family: sans-serif;
  position: relative;
}

.mousefollow {
  background-color: rgb(0, 158, 100);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.55);
  display: flex;
  place-items: center;
  place-content: center;
  color: #fff;
}
